html {
  height: 100vh;
  overflow: hidden;
  background: #444;
}

.table {
  border-bottom: 40vmin solid brown;
  border-inline: 10vmin solid transparent;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80vmin;
  display: flex;
  justify-content: center;
  gap: 6vmin;

  &::before {
    content: '';
    width: 10vmin;
    background: black;
    height: 100vh;
    position: absolute;
    top: 41vmin;
    left: 50%;
    translate: -50% 0;
  }

  &::after {
    content: '';
    width: 100vmin;
    background: #c65454;
    aspect-ratio: 30;
    position: absolute;
    top: 40vmin;
    left: -10vmin;
  }
}

.thimble {
  --size: 18vmin;
  --raise: 0;
  --duration: 1s;
  border-bottom: var(--size) solid orange;
  border-inline: calc(var(--size) * 0.24) solid transparent;
  width: calc(var(--size) * 0.6);
  transition: transform 1s;
  position: relative;
  flex-shrink: 0;
  filter: drop-shadow(0 0 10px #3339);

  &::before {
    content: '';
    width: calc(var(--size) * 0.6);
    background: #fbe1b2;
    aspect-ratio: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    translate: 0 -50%;
  }

  &.selected::before {
    box-shadow: inset 0 0 5px 5px lime;
  }

  &::after {
    content: '';
    width: calc(var(--size) * 1.08);
    background: orange;
    aspect-ratio: 2;
    position: absolute;
    bottom: calc(var(--size) * -1);
    left: calc(var(--size) * -0.24);
    border-radius: 50%;
    translate: 0 50%;
  }

  &.open {
    /* &:has(.ball) { */
    --raise: calc(var(--size) * -1);
    transform: translateY(var(--raise));
  }

  &.ru {
    animation: right-up var(--duration);
  }

  &.rd {
    animation: right-down var(--duration);
    z-index: 1;
  }

  &.lu {
    animation: left-up var(--duration);
    z-index: -1;
  }

  &.ld {
    animation: left-down var(--duration);
  }

  &.ru2 {
    animation: right-up2 var(--duration);
  }

  &.rd2 {
    animation: right-down2 var(--duration);
    z-index: 1;
  }

  &.lu2 {
    animation: left-up2 var(--duration);
    z-index: -1;
  }

  &.ld2 {
    animation: left-down2 var(--duration);
  }
}

.ball {
  width: calc(var(--size) * 0.5);
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  left: 50%;
  top: var(--size);
  position: absolute;
  translate: -50% -50%;
  transition: transform 1s;
  transform: translateY(calc(var(--raise) * -1))
}

@keyframes right-up {
  50% {
    translate: calc(50% + 3vmin) -50%;
    scale: 0.92;
  }

  100% {
    translate: calc(100% + 6vmin) 0;
  }
}

@keyframes right-down {
  50% {
    translate: calc(50% + 3vmin) 50%;
    scale: 1.08;
  }

  100% {
    translate: calc(100% + 6vmin) 0;
  }
}

@keyframes left-up {
  50% {
    translate: calc(-50% - 3vmin) -50%;
    scale: 0.92;
  }

  100% {
    translate: calc(-100% - 6vmin) 0;
  }
}

@keyframes left-down {
  50% {
    translate: calc(-50% - 3vmin) 50%;
    scale: 1.08;
  }

  100% {
    translate: calc(-100% - 6vmin) 0;
  }
}

@keyframes right-up2 {
  50% {
    translate: calc(100% + 6vmin) -70%;
    scale: 0.89;
  }

  100% {
    translate: calc(200% + 12vmin) 0;
  }
}

@keyframes right-down2 {
  50% {
    translate: calc(100% + 6vmin) 70%;
    scale: 1.11;
  }

  100% {
    translate: calc(200% + 12vmin) 0;
  }
}

@keyframes left-up2 {
  50% {
    translate: calc(-100% - 6vmin) -70%;
    scale: 0.89;
  }

  100% {
    translate: calc(-200% - 12vmin) 0;
  }
}

@keyframes left-down2 {
  50% {
    translate: calc(-100% - 6vmin) 70%;
    scale: 1.11;
  }

  100% {
    translate: calc(-200% - 12vmin) 0;
  }
}